<nav>
    <div class="nav-wrapper navBar">
        <a id="pageLogo" href="/" class="brand-logo">FoodDex</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Your Bites</a></li>
            <li><a href="#">Create Bite</a></li>
        </ul>
    </div>
</nav>
<div id="bites">

</div>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="../public/styles/styles.css" rel="stylesheet" >
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../models/index.js"></script>
