<div class="page">

    <nav class="navbar navbar-expand-lg navBar" style="background-color: #e3f2fd;">
        <a class="navbar-brand title" href="/">FoodDex</a>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link quickLink" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link quickLink" href="#">Bites</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Bites" aria-label="Search">
                <a class="my-2 my-sm-0 searchButton" type="submit">Search Recipes</a>
            </form>
        </div>
    </nav>
    <div class="container">
        <form id="loginForm">
            <div class="form-group">
                <label class="loginLabel" for="signUpEmailInput">Email Address</label>
                <input type="email" class="form-control" id="signUpEmailInput" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label class="loginLabel" for="signUpPasswordInput">Password</label>
                <input type="password" class="form-control" id="signUpPasswordInput" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="loginLabel" for="signUpPhoneNumberInput">Phone Number</label>
                <input type="text" class="form-control" id="signUpPhoneNumberInput" placeholder="Phone Number (000) 000-0000">
            </div>
            <div class="form-group">
                <label class="loginLabel" for="signUpBirthdayInput">Birthday</label>
                <input type="text" class="form-control" id="signUpBirthdayInput" placeholder="Birthday (MM/DD/YYYY)">
            </div>
            <div class="form-group">
                <label class="loginLabel" for="signUpGenderInput">Gender</label>
                <input type="text" class="form-control" id="signUpGenderInput" placeholder="Gender">
            </div>
            <button class="loginButton">Sign Up</button>
        </form>
    </div>
</div>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="../public/styles/styles.css" rel="stylesheet" >
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/auth.js"></script>
<script type="text/javascript">
    $(document).on("click", ".loginButton", (e) => {
        e.preventDefault();
        signUp($(".signUpEmailInput").val(), $(".signUpPasswordInput").val(), $(".signUpPhoneNumberInput").val(),
                $(".signUpBirthdayInput").val(). $(".signUpGenderInput").val());
    });
</script>