* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  height: 100%;
}

#mainBody {
  background-color: #f2e4a6;
}

.navBar {
  background-image: url(../images/wood_seemless.jpg);
  color: white;
}

.quickLink {
  font-size: 30px;
  float: right;
}

.signIn {

}

#bites {

}

.mainSearch {
  width: 50%;
}

#pageLogo {
  margin-left: 1%;
  display: block;
}

.title {
  color: white;
  padding: 60px;
  background-color: darkred;
  border-radius: 5px;
}

.searchButton {
  padding: 10px;
  background-color: darkred;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.quickLink {
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.loginButton {
  color: white;
  font-size: 20px;
  width: 100%;
  background-color: darkred;
  padding: 10px 0;
}

.loginLabel {
  font-size: 25px;
}
#loginForm {
  margin-top: 5%;
}

.biteContainer {
  color: white;
  text-align: center;
  background-image: url(../images/wood_seemless.jpg);
  padding: 30px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 5px;
  width: 20%;
  float: left;
  margin: 2%;
  height: 50vh;
}

.biteTitle {
  background-color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.bitePrep {
  background-color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.biteImage {
  width: 90%;
  margin: 5%;
  height: 23vh;
  border-radius: 3%;
}

.bigBiteContainer {
  background-image: url(../images/wood_seemless.jpg);
  padding: 30px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin: 5%;
  color: white;
}

.bigBiteTitle {
  font-size: 60px;
  text-align: center;
}

.bigBiteImage {
  width: 60%;
  height: 45vh;
  margin: 0 20%;
}

.bigBiteDescription {
  background-color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.bigBitePreparation {
  background-color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.biteHeader {
  color: black;
}

.postLabel {
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .biteContainer {
    color: white;
    text-align: center;
    background-image: url(../images/wood_seemless.jpg);
    padding: 30px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 5px;
    width: 30%;
    float: left;
    margin: 2%;
    height: 50vh;
  }
}

@media only screen and (max-width: 648px) {
  .biteContainer {
    color: white;
    text-align: center;
    background-image: url(../images/wood_seemless.jpg);
    padding: 30px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 5px;
    width: 50%;
    float: left;
    margin: 2%;
    height: 50vh;
  }
}