* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  height: 100%;
}

.navBar {
  background-image: url(../images/wood_seemless.jpg);
  color: white;
}

.quickLink {
  font-size: 30px;
  float: right;
}

.signIn {

}

#bites {

}

.mainSearch {
  width: 50%;
}

#pageLogo {
  margin-left: 1%;
  display: block;
}

.title {
  color: white;
  padding: 60px;
  background-color: darkred;
  border-radius: 5px;
}

.searchButton {
  padding: 10px;
  background-color: darkred;
  border-radius: 5px;
  font-size: 20px;
}

.quickLink {
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.loginButton {
  color: white;
  font-size: 20px;
  width: 100%;
  background-color: darkred;
  padding: 10px 0;
}

.loginLabel {
  font-size: 25px;
}
#loginForm {
  margin-top: 5%;
}

.biteContainer {
  color: white;
  text-align: center;
  background-image: url(../images/wood_seemless.jpg);
  padding: 30px;
  border-radius: 5px;
  width: 20%;
  float: left;
  margin: 1%;
}

.biteTitle {
  background-color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.biteImage {
  width: 90%;
  margin: 5%;
}